<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments::head">
</head>

<body>
<div th:replace="fragments::main-top">
</div>

<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->

<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>OUR BRAND</h3>
                    <p>Sport Peach Sportswear is a luxury global brand inspired by the women of the fitness world.
                        We believe it’s important for your mental and physical health to look and feel amazing in
                        and out of the gym. Our clothing is unmatched from our innovative designs to buttery soft
                        performance driven fabrics that fit perfect and make you unstoppable.
                        Whether you're just beginning your fitness journey or searching for new designs to add
                        to your wardrobe, we seriously offer the best selection of activewear,
                        athleisure & lifestyle wear for women.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>OUR MISSION</h3>
                    <p>It's our mission to provide you with the most innovative and trendiest looks for your workouts
                        and everyday life. We design all of our women's activewear pieces in-house in the US, each of
                        which is engineered to give you the support, functionality, and style you expect from Bombshell.
                        Whether you're into yoga, HIIT, spinning, or weight training, our gym-ready designs are built for
                        women like you. You'll fall in love with the fine details, like how our designs easily sculpt and
                        shape your silhouette. Gone are the days of feeling uncomfortable in your workout outfits.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>OUR FABRICS</h3>
                    <p>From light weight options to heavy weight compression, you can find the right fabrics for
                        your workout needs. In our huge selection of women's active apparel, you'll find one-of-a-kind
                        sports bras, tank tops, high waist leggings, hoodies, bodysuits, pullovers, and so much more.
                        Once you've finished up in the gym our athleisure wear doubles as your everyday and weekend attire!
                        Head off to lunch, run errands, and more in these soft and trendy designs.</p>
                    <p>Designed & Manufactured in Ukraine.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>
<!-- End Feed  -->

<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>

<!-- ALL JS FILES -->
<div th:replace="fragments::script">
</div>
</body>

</html>
