<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header class="main-top">
<div th:replace="fragments::main-top"></div>
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="fragments::slider">
</div>
<!-- End Slider -->

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Crab</h1>
                    <p>Have you a really good meal!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 01 - Crab Pasta With Snap Peas and Mint.jpg" class="img-fluid"
                             alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Crab Pasta With Snap Peas and Mint</h4>
                        <h5> $50.00</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 02 - Crab Toast.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Crab Toast</h4>
                        <h5> $40.00</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 03 - Crab and Shrimp Boil Pasta.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Crab and Shrimp Boil Pasta</h4>
                        <h5> $40.50</h5>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 04 - Soft Shell Crab Crostini With Arugula Butter.jpg" class="img-fluid"
                             alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Soft-Shell Crab Crostini With Arugula Butter</h4>
                        <h5> $30.75</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 05 - Spacy Crab Dip.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Spacy Crab Dip</h4>
                        <h5> $36.70</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 06 - Baked Crab Dip With Old Bay and Ritz Crackers.png" class="img-fluid"
                             alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Baked Crab Dip With Old Bay and Ritz Crackers</h4>
                        <h5> $36.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Crab 07 - Easy Crab Recipes.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Easy Crab Recipes</h4>
                        <h5> $45.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fish -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Fish</h1>
                    <p>Have you a really good meal!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Fish 01 - Fish Tacos.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Fish Tacost</h4>
                        <h5> $35.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="images/Fish 02 - Catfish parmesan.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="product-detail.html" data-toggle="tooltip" data-placement="right"
                                       title="View"><i class="fas fa-eye"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Catfish parmesan</h4>
                        <h5> $40.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Products  -->

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>
<!-- End Feed  -->

<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>

<!-- ALL JS FILES -->
<div th:replace="fragments::script">
</div>

</body>

</html>