<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments::head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments :: main-top">
</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="fragments :: main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments :: top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments :: slider">
</div>
<!-- End All Title Box -->

<!-- Update Personal Information -->
<section id="login-form" th:if="${orders.isEmpty()}">
    <div class="noi-dung">
        <div class="form">
            <h2>No orders yet!</h2>
        </div>
    </div>
</section>

<section>
    <div class="cart-box-main">
        <div class="container">
            <div class="row" th:if="${!orders.isEmpty()}">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="order-date">Order Date</th>
                                <th>Delivery Date</th>
                                <th class="order-status">Order Status</th>
                                <th class="total-pr">Total Price</th>
                                <!--                                <th class="total-pr">Payment Method</th>-->
                                <!--                                <th>Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td class="order-date">
                                    <span><b th:text="${order.orderDate}"></b></span>
                                </td>
                                <td class="order-status">
                                    <p th:text="${order.orderStatus}"></p>
                                </td>
                                <td class="total-pr">
                                    <p th:text="${order.totalPrice} + '$'"></p>
                                </td>
                                <!--                                <td>-->
                                <!--                                    <button class="button-cancel">Cancel</button>-->
                                <!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments :: footer">
</div>

<div th:replace="fragments :: script"></div>
</body>

</html>
